%titulo-general{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

%estilo-imagen{
    border-style: solid;
    border-width: 4px;
}

%texto-foto{
    text-decoration: none;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}

%estilo-ver-mas{
    border: 3px solid black;
    height: 50px;
    width: 250px;
    border-radius: 20px;
}

%estilo-compra{
    background-color: #25d366;
    width: 50px;
    height: 50px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}