%titulo-general{
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

%estilo-imagen{
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
}

%texto-foto{
    text-decoration: none;
    text-align: center;
    font-size: medium;
    margin-top: 20px;
}

%estilo-ver-mas{
    border: 3px solid #3a76bd;
    height: 50px;
    width: 250px;
    border-radius: 20px;
}