
.body-contacto{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% auto 10%;
    grid-template-areas:
    "header header"
    "aside main"
    "footer footer"
    ;
    .contenedor-icono-wpp{
        background-color: #25d366;
        width: 50px;
        height: 50px;
        position: fixed;
        text-align: center;
        bottom: 10px;
        right: 20px;
        border-radius: 50%;
        border: 2px solid black;
        .icono-wpp{
            margin-top: 5px;
            width: 35px;
            height: 35px;
        }
    }
    .main-contacto{
        grid-area: main;
        .contenedor-TiCo{
            .titulo-contacto{
                @extend %titulo-general;
                color: map-get($color, quinario);
                margin-top: 100px;
            }
        }
        .contenedor-formulario{
            @include flex(flex, row, space-between, none, nowrap);
            margin-top: 100px;
            margin-left: 100px;
            .formulario{
                .inputs-datos{
                    margin-bottom: 35px;
                    .subtitulos-formulario{
                        color: map-get($color, terciario);
                        text-decoration: underline;
                        margin-bottom: 5px;
                    }
                    .contenedor-inputs{
                        .ingreso-datos{
                            width: 320%;
                            padding: 10px;
                            background-color: transparent;
                            border: $borde-boton;
                            border-radius: 15px
                        }
                    }
                }
            }
        }
    }
        .contenedor-Bot-En{
            @include flex(flex, row, center, none, wrap);
            .rectangulo-Bot-En{
                .boton-enviar{
                    background-color: transparent;
                    color: map-get($color, terciario);
                    border: $borde-boton;
                    border-radius: 20px;
                    padding: 10px;
                    @include flex(flex, row, center, none, nowrap);
                }
            }
        }
    .aside{
        grid-area: aside;
        background-color: map-get($color, secundario);
        border-right: $borde-azul;
        height: 100%;
        .contenedor-contacto{
            margin-bottom: 50px;
            .contenedor-SubTiCo{
                .subtitulo-contacto{
                    font-size: xx-large;
                    text-decoration: underline;
                    color: $negro;
                    margin-top: 50px;
                    margin-left: 35px;
                }
            }
            .contenedor-TeCo{
                .texto-contacto{
                    font-size: large;
                    line-height: 30px;
                    margin-top: 25px;
                    margin: 30px;
                }
            }
        }
    }
}