.body-productos {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 7% auto 10%;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer"
    ;
    .contenedor-icono-wpp{
        @extend %estilo-compra;
        &:hover{
            background-color: #29ec71;
        }
        .icono-wpp{
            margin-top: 10px;
            width: 30px;
            height: 30px;
        }
    }
    .main-productos{
        &::before{
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(../../images/fondo\ salon.webp) no-repeat center center fixed;
            background-size: cover;
            opacity: 0.4;
            z-index: -1;
        }
        grid-area: main;
        @include flex(flex, row, center, none, wrap);
        padding-top: 100px;
        .contenedor-titulo{
            .titulo{
                @extend %titulo-general;
                color: map-get($color, quinario);
                margin-bottom: 100px;
            }
        }
        .seccion-productos{
            @include flex(flex, row, space-around, none, wrap);
            gap: 10px;
            margin-left: 20px;
            margin-bottom: 50px;
            .contenedor-imagenes{
                overflow: hidden;
                .texto-foto{
                    @extend %texto-foto;
                    color: $negro;
                    &:hover{
                        text-decoration: underline;
                    }
                    .imagen{
                        @extend %estilo-imagen;
                        border-color: map-get($color, secundario);
                        transition: 1s;
                        object-fit: cover;
                        &:hover{
                            transform: scale(1.1);
                            cursor: pointer;
                            filter: blur(1.2px);
                        }
                    }
                }
                    .contenedor-compra{
                        .rectangulo-compra1{
                            @include flex(flex, row, center, center, wrap);
                            width: auto;
                            height: 75px;
                            background-color: map-get($color, secundario);
                            .texto-foto{
                                margin-top: 0px;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                            .texto1{
                                margin-bottom: 10px;
                                font-weight: bold;
                            }
                        }
                        .rectangulo-compra2{
                            @include flex(flex, row, space-evenly, center, wrap);
                            width: auto;
                            height: 75px;
                            background-color: $negro;
                            border-bottom-left-radius: 25px;
                            border-bottom-right-radius: 25px;
                            .texto-foto{
                                @extend %texto-foto;
                                margin: 0px;
                                margin-top: 10px;
                                :hover{
                                    text-decoration: underline;
                                }
                                .icono-carro{
                                    width: 30px;
                                    height: 30px;
                                }
                                .texto2{
                                    color: $blanco;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
            }
        }
        .contenedor-boton{
            @include flex(flex, row, center, none, wrap);
            margin: 50px 0px;
            .rectangulo2-productos{
                @extend %estilo-ver-mas;
                background-color: map-get($color, secundario);
                &:hover{
                    background-color: $sombreado-blanco;
                }
                .ver_mas{
                    list-style-type: none;
                    text-decoration: none;
                    color: $negro;
                .texto-ver-mas{
                    @include flex(flex, row, center, center, nowrap);
                    font-weight: 600;
                    margin-top: 10px;
                }
                }
            }
        }
        .icono-wpp{
        position: fixed;
        top: 225px;
        right: 30px;
        }
    }
    .aside{
        height: 100%;
        background-color: map-get($color, secundario);
        grid-area: aside;
        border-right: $borde-azul;
        .contenedor-categorias{
            margin-top: 110px;
            .subtitulo-categorias{
                text-decoration: underline;
                margin-left: 20px;
                margin-top: 50px;
            }
            .contenedor-lista-categorias{
                margin-top: 30px;
                .lista-categorias{
                    list-style-type: none;
                    color: $negro;
                    margin-left: 15px;
                    margin-bottom: 10px;
                    .texto-categorias{
                        text-decoration: underline;
                        color: rgb(12, 12, 12);
                        &:hover{
                            color: $blanco;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .contenedor-precios{
            .subtitulo-productos{
                text-decoration: underline;
                margin-left: 20px;
                margin-top: 50px;
            }
            .input-precios{
                width: 150px;
                margin-top: 20px;
                margin-left: 20px;
                @include flex(flex, column, none, none, nowrap);
                .input-minimo{
                    width: 150%;
                    border-radius: 10px;
                    border: $borde-negro;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 5px;
                    background-color: $sombreado-blanco;
                }
                .input-maximo{
                    border: $borde-negro;
                    padding: 5px;
                    width: 150%;
                    border-radius: 10px;
                    background-color: $sombreado-blanco;
                }
            }
        }
    }
}