.contenedor-icono-wpp{
    background-color: #25d366;
    width: 50px;
    height: 50px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid black;
    .icono-wpp{
        margin-top: 5px;
        width: 35px;
        height: 35px;
    }
}
.main-servicios{
    background-image: url(../../images/fondo\ salon.webp);
    padding-top: 200px;
    padding-bottom: 50px;
    .contenedor-titulo{
        .titulo-servicios{
            @extend %titulo-general;
            color: map-get($color, quinario);
        }
    }
    .contenedor-articulos{
        .articulo{
            @include flex(flex, row, space-between, none, wrap);
            margin-top: 175px;
            margin-bottom: 100px;
            .contenedor-texto{
                margin: 0px 25px;
                width: 40%;
                .subtitulo-servicios{
                    color: map-get($color, terciario);
                    text-decoration: underline;
                    text-align: start;
                }
                .texto-servicios{
                    font-size: large;
                    margin-top: 50px;
                    line-height: 30px;
                }
            }
            .imagen-servicios{
                @extend %estilo-imagen;
                border-color: map-get($color, secundario);
                margin-right: 25px;
                width: 40%;
            }
        }
        .articulo2{
            @include flex(flex, row-reverse, space-between, none, wrap);
            margin-top: 175px;
            margin-bottom: 100px;
            .contenedor-texto2{
                width: 40%;
                margin-right: 150px;
                .subtitulo-servicios{
                    color: map-get($color, terciario);
                    text-decoration: underline;
                    text-align: start;
                }
                .texto-servicios{
                    font-size: large;
                    margin-top: 50px;
                    line-height: 30px;
                }
            }
            .imagen-servicios2{
                width: 40%;
                @extend %estilo-imagen;
                border-color: map-get($color, secundario);
                margin-left: 25px;
                margin-right: 25px;
            }
        }
    }
    .icono-wpp{
        position: fixed;
        top: 195px;
        right: 30px;
    }
}