.contenedor-icono-wpp{
    @extend %estilo-compra;
    .icono-wpp{
        margin-top: 5px;
        height: 35px;
        width: 35px;
    }
}
.main-ubicacion{
    padding-top: 150px;
    background: url(../../images/fondo\ salon.webp) no-repeat center center fixed;
    background-size: cover;
    .contenedor-titulo{
        margin-top: 75px;
        .titulo{
            @extend %titulo-general;
            color: map-get($color, quinario);
        }
    }
    .contenedor-ubicacion{
        margin-top: 100px;
        padding-bottom: 100px;
        .texto-ubicacion{
            .contenedor-TiUb{
                @include flex(flex, row, start, none, nowrap);
                .pin{
                    object-fit: cover;
                }
                .subtitulo-ubicacion{
                    font-size: x-large;
                    text-decoration: underline;
                    margin-top: 10px;
                    margin-bottom: 0px;
                    color: map-get($color, quinario);
                }
            }
            .contenedor-TeUb{
                .texto-lista{
                    font-size: large;
                    line-height: 25px;
                    text-align: justify;
                    margin-left: 50px;
                    margin-top: 30px;
                    margin-bottom: 50px;
                    .lista-local{
                        list-style-type:none ;
                    }
                    .texto-sublista{
                        .sublista-horario{
                            list-style-type:circle ;
                            margin-left: 80px;
                        }
                    }
                }
            }
        }
        .iframes{
            display: flex;
            justify-content: center;
            .mapa{
                border: $borde-azul;
            }
        }
    }
    .icono-wpp{
        position: fixed;
        top: 220px;
        right: 30px;
        }
}