/*Header Index*/
.header{
    border-bottom: 3px solid #2465aa;
    grid-area: header;
    position: fixed;
    width: 100%;
}

.logo{
    border-radius: 75%;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}