.main-index{
    @include flex(flex, column, center, none, wrap);
    padding-top: 100px;
    background: url(../../images/fondo\ salon.webp) no-repeat center center fixed;
    background-size: cover;
    .contenedor-index{
        .contenedor-titulo{
            .titulo{
                @extend %titulo-general;
                color: map-get($color, quinario);
                margin: 100px;
            }
        }
        .seccion-index{
            @include flex(flex, row, space-around, none, wrap);
            gap: 50px;
            margin-left: 20px;
            .contenedor-fotos{
                .texto-foto{
                    @extend %texto-foto;
                    color: $negro;
                    .imagen{
                        @extend %estilo-imagen;
                        border-color: map-get($color, secundario);
                    }
                    .contenedor-compra{
                        .rectangulo-compra1{
                            @include flex(flex, row, center, center, wrap);
                            width: auto;
                            height: 75px;
                            background-color: map-get($color, secundario);
                            .texto1{
                                margin-top: 10px;
                                font-weight: bold;
                            }
                        }
                        .rectangulo-compra2{
                            @include flex(flex, row, space-evenly, center, wrap);
                            width: auto;
                            height: 75px;
                            background-color: black;
                            border-bottom-left-radius: 25px;
                            border-bottom-right-radius: 25px;
                            .icono-carro{
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                            }
                            .texto2{
                                color: $blanco;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
        .contenedor-boton{
            @include flex(flex, row, center, none, wrap);
            margin: 50px 0px;
            .rectangulo2{
                @extend %estilo-ver-mas;
                background-color: $blanco;
                .ver_mas{
                    list-style-type: none;
                    text-decoration: none;
                    color: map-get($color, cuartenario);
                    .texto-ver-mas{
                        @include flex(flex, row, center, center, wrap);
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    .contenedor-icono-wpp{
        @extend %estilo-compra;
        .icono-wpp{
            margin-top: 5px;
            width: 35px;
            height: 35px;
        }
    }
}