.contenedor-icono-wpp{
    background-color: #25d366;
    width: 50px;
    height: 50px;
    position: fixed;
    text-align: center;
    bottom: 10px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid black;
    .icono-wpp{
        margin-top: 5px;
        width: 35px;
        height: 35px;
    }
}
.main-index{
    background-image: url(../../images/fondo\ salon.webp);
    @include flex(flex, column, center, none, wrap);
    padding-top: 100px;
    .contenedor-index{
        .contenedor-titulo{
            .titulo{
                @extend %titulo-general;
                color: map-get($color, quinario);
                margin: 100px;
            }
        }
        .seccion-index{
            @include flex(flex, row, space-around, none, wrap);
            gap: 50px;
            margin-left: 20px;
            .contenedor-fotos{
                .texto-foto{
                    @extend %texto-foto;
                    color: $negro;
                    .imagen{
                        @extend %estilo-imagen;
                        border-color: map-get($color, secundario);
                    }
                }
            }
        }
        .contenedor-boton{
            @include flex(flex, row, center, none, wrap);
            margin: 50px 0px;
            .rectangulo2{
                @extend %estilo-ver-mas;
                background-color: $blanco;
                .ver_mas{
                    list-style-type: none;
                    text-decoration: none;
                    color: map-get($color, cuartenario);
                    .texto-ver-mas{
                        @include flex(flex, row, center, center, wrap);
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}